@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');

/*공통 스타일*/
*{margin:0; padding:0;}

html,body{height:100%;}

body{
	font:15px/1.8 'Noto Sans KR', sans-serif;
	background:#fcfcfc;
	color:#777;
}

a{
	text-decoration:none;
	color:#777;
}

#container{
	width:700px;
	background:#f5f6f8;
	margin:0 auto;
	height:100%;
}

/*레이아웃 스타일*/
.wrapper{
	width:100%;
	background:#f5f6f8;
	padding:100px;
	box-sizing:border-box;
	height:auto;
}
header{
	margin-bottom:50px;
	text-align:center;
}

header img{
	width:400px;
}

.loginWrap{
	border-bottom:1px solid #ccc;
	padding-bottom:40px;
}

.loginWrap form>p{
	margin-bottom:10px;
}

.loginWrap form>p input{
	width:100%;
	outline:none;
	border:1px solid #ccc;
	padding:10px;
	box-sizing:border-box;
	font-size:1.1em;
}

.loginWrap input[type="submit"]{
	background:#03c75a;
	color:white;
}

.stateIpWrap{overflow:auto;}
	.stateLeft{float:left;}
	.ipRight{float:right;}

/*간편로그인 스타일*/
.loginWrap2{
	margin:50px 0;
	text-align:center;
	color:#444;
}
.loginWrap2 h2{margin-bottom:10px;}
.loginWrap2 p{overflow:auto;}
.loginWrap2 p a{
	width:48%;
	border:1px solid #03c75a;
	display:inline-block;
	box-sizing:border-box;
	float:left;
	padding:10px 0;
	background:white;
	transition:0.5s;
	color:#444;
}

.loginWrap2 p a:first-child{margin-right:4%;}
.loginWrap2 p a:hover{
	color:white;
	background:#03c75a;
}
.searchWrap{
	text-align:center;
	margin-bottom:50px;
}

.searchWrap a{
	margin:0 10px;
}

.banner img{width:100%;}

footer{
	margin-top:50px;
	color:#444;
}

footer img{vertical-align:middle;}